*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 margin-left: auto;
 margin-right: auto;
}

.logo{
    max-width: 1280px;
    display: flex;
    margin-top: 16px;
}
.logo .logoo{
    margin-top: 10px;
    margin-right: 350px;
}
.logo .nav ul{
    display: flex;
}
.nav {
    margin-top: 16px;
}

.logo .logo{
    margin-right: 401px;
}
.nav ul li{
    margin-left: 32px;
    list-style: none;
   
}
.nav ul li a{
    text-decoration: none;
    color: #2A2C1F;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.nav .search{
    display: flex;
    align-items: center;
  
}
.nav .shoping{
    display: flex;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #E7E8E3;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    padding:6px 30px;
    margin-top: -10px ;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: -30px;
}
.nav .expade{
display: flex;
align-items: center;
}
nav ul li {
    --c: goldenrod;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: black;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}

.header{
    max-width: 1440px;
    background-color: aqua;
    width: 1440px;
    height: 686px;
    display: flex;
}
.header .header__text{
    width: 720px;
    height: 686px;
    background-color: azure;
    position: relative;
    background: #F5F5F2;
}

.header .headerimg{
    width: 720px;
    height: 686px;
    background-color: rgb(1, 15, 15);
} 

.header .image{
    position: absolute;
    margin-left: 450px;
    margin-top: 550px;
}

.header__text h6{
    color: #2A2C1F;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    width: 147px;
    margin-top: 2px;
    margin-left: 108px;
  
}

.header__text h2{
    color: #2A2C1F;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 67.2px; /* 120% */
    width: 516px;
    margin-top: 24px;
}

.header__text p{
    color: #65665C;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    width: 503px;
    margin-top: 10px;
    margin-bottom: 21px;
}

.header__text input{
    border-radius: 6px;
    border: 1px solid #E7E8E3;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    width: 310px;
    height: 48px;
    flex-shrink: 0;
    margin-left: 110px;
}

 input::placeholder{
    margin-left: 10px;
}

nav ul li:hover {
    color: black;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}

.inputt{
    display: flex;
}
.inputt nav{
    margin-top: 15px;
    margin-left: -76px;
}

.list{
    max-width: 1280px;
    display: flex;
    align-items: center;
   /* justify-content: space-between; */
   margin-top: 67px;
}

.list ul li{
    list-style: none;
}

.list p{
    margin-right: 260px;
    margin-left: 30px;
    width: 243px;
    color: #2A2C1F;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
}
.list a{
    margin-right: 25px;
}

.titlle{
    max-width: 1280px;
}
.title{
    max-width: 768px;
}
.title h2{
    color: #2A2C1F;
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 57.6px; /* 120% */
    width: 293px;
    margin-top: 125px;
}
.title p{
    color: #65665C;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    width: 754px;
    margin-bottom: 61px;
}
.card{
    display: flex;
}
 .card1{
   width: 405px;
   height: 291px;
 
   border-radius: 16px;
   border: 1px solid #E7E8E3;
   background: #FFF;
   box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

.card1 img{
    margin-left: 187px;
    margin-top: 49px;
}

.card1 h6{
    color: #2A2C1F;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.6px; /* 140% */
    width: 161px;
    margin-top: 24px;
}

.card1 p{
    color: #65665C;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    width: 338px;
    margin-top: 17px;
}

.main{
    max-width: 1280px;
   
    display: flex;
    margin-top: 128px;
}
.main .house{
   width: 600px;
   height: 600px;

   margin-right: 70px;

}
.main .house-img{
    width: 600px;
    height: 600px;
  
}

.house .house-text{
    width: 600px;
    height: 318px;
 
    margin-top: 150px;
}

.house-text h6{
    color: #2A2C1F;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    width: 83px;    
    margin-left: 80px;
    border-radius: 32px;
    background: #E7E8E3;
    padding: 4px;
}

.house-text h4{
    color: #2A2C1F;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 57.6px; /* 120% */
    width: 453px;
    margin-top: 24px;
    
}

.house-text  p{
    color: #65665C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    width: 520px;
    margin-top: 28px;
    margin-left: 75px;
}


.house-text button{
    color: #2A2C1F;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    border-radius: 6px;
    border: 1px solid #E7E8E3;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    padding: 13px 25px;
    margin-top: 18px;
    width: 192px;
    height: 50px;
    flex-shrink: 0;
    margin-left: 75px;
}

.house-text a{
    color: #2A2C1F;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-decoration: none;
    margin-left: 24px;
}


.house-text nav{
    margin-top: 50px;
    margin-left: 55px;
}
